PORT=3000
SMTP_HOST=mail.temivicsuntechnology.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@temivicsuntechnology.com
SMTP_PASS=X0w6u8E_coR4MevB
SMTP_FROM="TemiVic Sun Technology" <info@temivicsuntechnology.com>
COMPANY_EMAIL=info@temivicsuntechnology.com